html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body{
    margin: 0;
    background-color: $color-primary;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
ul{
    padding-left: 0px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
.section{
    height: 100vh;
}