.section2__products{
    @extend .section;
    background: linear-gradient(90deg, $color-quarternary 75%, $color-terciary 25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint("lg-desktop"){
        padding: 3.7rem 15rem;
    }
    
    .section2__div--fondo2{
        @extend .container;
        background-image: url(../Img/section3-image.png);
        height: 55.2rem;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .section2__div--fondo3{
        background-color: $color-secondary;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 47.1rem;
        height: 30.4rem;
        @include breakpoint("mobile"){
            width: 100%;
        }
    }
    h3{
        font-family: $font-secondary;
        color: $color-primary;
        font-weight: $font-medium;
        font-size: 1.6rem;
        letter-spacing: 0.22px;
        line-height: 21px;
        padding-top: 6.5rem;
        margin-left: 5rem;
        @include breakpoint("mobile"){
            padding-top: 4.5rem;
        }
    }
    h2{
        font-family: $font-primary;
        font-weight: $font-medium;
        color: $color-primary;
        font-size: 3.9rem;
        letter-spacing: 0.55px;
        line-height: 59px;
        margin-left: 5rem;
        @include breakpoint("mobile"){
            font-size: 3.4rem;
        }
    }
    p{
        font-family: $font-terciary;
        font-weight: $font-regular;
        font-size: 1.6rem;
        letter-spacing: 0.22px;
        line-height: 2.1rem;
        color: $color-primary;
        margin: 1.9rem 4.9rem 0 5rem;
    }
    .section2__div--img{
        display: flex;
        justify-content: flex-end;
        padding: 2rem 4.9rem;
    }
    img{
        padding: 4px;
    }
}
