$color-primary: #ffffff;
$color-secondary: #E0752F;
$color-terciary: #DCE1DA;
$color-quarternary: #F2F4F1;
$color-quinary: #343434;

$primary: $color-secondary;

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-terciary: 'Roboto', sans-serif;

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
